.d-p-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 1000
  background rgba(0,0,0,0.2)
  animation 0.3s d-overlay ease
  &.hiding
    animation 0.3s d-overlay-off ease
    background rgba(0,0,0,0)

  &.hiding .d-popup
    animation 0.3s d-popup-off cubic-bezier(0, 1, 0, 1)
    opacity 0
    transform translateY(100px)

  .d-popup:before
    border-left 8px solid transparent
    border-right 8px solid transparent
    border-bottom 8px solid white
    position absolute
    top -8px
    left 121px
    content ''
  .d-popup
    position fixed
    background #fafafa
    border-radius 5px
    box-shadow 0 0 5px rgba(0,0,0,0.1)
    width 250px
    height 100px
    background #fff
    animation 0.3s d-popup cubic-bezier(0, 1, 0, 1)
    
    .d-popup-inner
      padding 1.5em
      color #555

@keyframes d-overlay
  0%
    background rgba(0,0,0,0)
  100%
    background rgba(0,0,0,0.2)

@keyframes d-popup
  0%
    opacity 0
    transform translateY(100px)
  100%
    opacity 1
    transform translateY(0)


@keyframes d-overlay-off
  0%
    background rgba(0,0,0,0.2)
  100%
    background rgba(0,0,0,0)

@keyframes d-popup-off
  0%
    opacity 1
    transform translateY(0)
  100%
    opacity 0
    transform translateY(100px)
