.k-p-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 1000
  background rgba(0,0,0,0.15)
  animation 0.3s k-p-overlay ease

.hiding
  animation 0.3s k-p-overlay-off ease
  background rgba(0,0,0,0)

.k-popup.hiding
  animation 0.3s k-p-popup-off cubic-bezier(0, 1, 0, 1)
  opacity 0
  transform translateY(100px)

.k-popup.leftborder:before
  left 10px

.k-popup:before
  border-left 8px solid transparent
  border-right 8px solid transparent
  border-bottom 8px solid white
  position absolute
  top -8px
  left 121px
  content ''
  z-index 100009

.k-popup
  text-align left
  position absolute
  transform translate(0, 0)  
  background #fafafa
  border-radius 5px
  box-shadow 0 0 5px rgba(0,0,0,0.1)
  width 250px
  background #fff
  animation 0.3s k-p-popup cubic-bezier(0, 1, 0, 1)
  z-index 10000
  overflow hidden
  
  p
    margin 0
  
  .k-popup-inner
    padding 0
    color #555

@keyframes k-p-overlay
  0%
    background rgba(0,0,0,0)
  100%
    background rgba(0,0,0,0.15)

@keyframes k-p-popup
  0%
    opacity 0
    transform translate(0, 100px)
  100%
    opacity 1
    transform translate(0, 0) 

@keyframes k-p-overlay-off
  0%
    background rgba(0,0,0,0.15)
  100%
    background rgba(0,0,0,0)

@keyframes k-p-popup-off
  0%
    opacity 1
    transform translate(0, 0) 
  100%
    opacity 0
    transform translate(0, 100px)
